/* start variables */

:root {
    --main-color: #10cab7;
    --secoundary-color: #2c4755;
}


/* end variables */


/* start global rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}


/* start header */

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    margin-right: 100%;
    width: 60px;
}

@media (max-width:768px) {
    .header .logo {
        margin-right: 70%;
    }
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    padding: 0;
    right: 0;
    background-color: #f6f6f6;
    position: absolute;
    top: calc( 100% + 15px);
    min-width: 200px;
    display: none;
}

.header .links:hover ul {
    display: block;
    z-index: 1;
}

.header .links ul::before {
    content: " ";
    border-width: 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;
    position: absolute;
    top: -20px;
    right: 5px;
}

.header .links ul li a {
    display: block;
    transition: .3s;
    text-decoration: none;
    padding: 15px;
    color: #333;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}


/* end header */


/* start landing */

.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative
}

.landing .intro {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.landing .intro h1 {
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}

.landing .intro p {
    font-size: 20px;
}


/* end landing */


/* start features */

.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #dddddd;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    text-align: center;
}

.features .feat h3 {
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
}

.features .feat p {
    color: #777;
    line-height: 1.5;
}

.features i {
    color: var(--main-color);
}


/* end features */


/* start services */

.services {
    margin-top: 30px;
}

.special-heading {
    color: #ebeced;
    font-size: 80px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -7px;
    margin: 0;
}

.special-heading+p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    margin: -30px;
    margin-left: 5px;
}

.services .services-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.services .services-content .col .srv {
    padding-bottom: 40px;
    display: flex;
}

.services .services-content .col .srv h3,
p,
i {
    padding-bottom: 20px;
}

.services .services-content .col .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .col .srv p {
    color: #777;
    line-height: 1.5;
}

.services .services-content .col .srv .text {
    flex: 1;
}

.services .services-content .image {
    position: relative;
    width: 85%;
}

.services .services-content .image::before {
    content: " ";
    width: 100px;
    background-color: var(--secoundary-color);
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.services .services-content .image img {
    width: 260px;
}

@media (max-width:768px) {
    .services .services-content .col .srv {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width:1199px) {
    .img-column {
        display: none;
    }
}


/* end services */


/* start portfolio*/

.portfolio {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #dddddd;
    padding-top: 50px;
    padding-bottom: 50px;
}

.portfolio .portfolio-content {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card {
    background-color: #fff;
}

.card img {
    max-width: 100%;
}

.info {
    max-width: 100%;
    margin: 10px;
}

.info h3 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.info p {
    color: #777;
}


/* end portfolio*/


/* start about*/

.about {
    padding-top: 60px;
    padding-bottom: 120px;
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .about-content .text {
    flex-basis: calc( 100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: 800;
    line-height: 1.7;
}

.about .about-content p:nth-of-type(2) {
    color: #777;
    padding-top: 30px;
    line-height: 1.7;
}

.about .about-content .image {
    position: relative;
}

.about .about-content .text hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}

@media (max-width:768px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .text {
        padding-top: 40px;
    }
}

.about .about-content .image::before {
    content: " ";
    background-color: #ebeced;
    height: calc(100% + 80px);
    top: -40px;
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100px;
}

.about .about-content .image::after {
    content: " ";
    background-color: var(--main-color);
    height: calc(100% + 80px);
    top: -40px;
    position: absolute;
    right: -50px;
    z-index: -1;
    width: 100px;
    height: 300px;
}

.about .about-content .image::before {
    content: " ";
    background-color: #ebeced;
    height: calc(100% + 80px);
    top: -40px;
    position: absolute;
    right: -50px;
    z-index: -1;
    width: 100px;
    height: 300px;
}

.about .about-content .image {
    position: relative;
    width: 270px;
    padding-left: 20px;
}


/* end about*/


/* start contact */

.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #dddddd;
}

.contact .contact-info {
    padding-top: 50px;
    text-align: center;
}

.contact .contact-info .label {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -2px;
    color: var(--secoundary-color);
    margin-bottom: 15px;
}

.contact .contact-info .link {
    display: block;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -2px;
    color: var(--main-color);
    margin-bottom: 30px;
    text-decoration: none;
}

.contact .contact-info .social {
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .contact-info .social i {
    display: inline-flex;
    color: var(--secoundary-color);
}


/* end contact */


/*start footer */

footer {
    background-color: var(--secoundary-color);
    color: #fff;
    padding: 2%;
    text-align: center;
}


/* end footer */


/* small sreen */

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


/* medium sreen */

@media (min-width:992px) {
    .container {
        width: 980px;
    }
}


/* large sreen */

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}


/* end global rules */